
#loginmain h1 {
    font-weight: bold;
    font-family: monospace;
    margin-bottom: 30px;
}

#loginmain form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#loginmain form input {
    width: 350px;
    min-width: 100px;
    height: 45px;
    border: none;
    border: 1px solid rgba(128, 128, 128, 0.253);
    border-radius: 12px;
}

#loginmain form input:focus {
    outline: 2px solid #AF47E2;
}

#loginmain form input[placeholder] {
    padding-inline: 12px;
}

#forget {
    margin-top: -8px;
    align-self: flex-end;
    color: blue;
    text-decoration: none;
    text-decoration: none;
    font-weight: 400;
    font-family: ubuntu;
}

#forget:hover {
    text-decoration: 1px solid underline;
}

#loginmain form button {
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    width: 200px;
    font-family: ubuntu;
    height: 45px;
    background-color: #AF47E2;
    color: white;
    transition: all 0.4s;
}

#loginmain form button:hover {
    background-color: #5b0188;
}

#loginmain #or {
    margin-block: 25px;
    font-size: larger;
    font-weight: 600;
    color: gray;
}

#loginmain #end {
    margin-top: -10px;
    font-size: 16px;
}

#loginmain #end a {
    font-size: 17px;
    text-decoration: none;
    background: transparent;
    color: blue;
    font-weight: 500;
}

#loginmain #end a:hover {
    text-decoration: 2px solid underline;
}

@media only screen and (max-width:400px) {
    #loginmain form input {
        width: 300px;
        height: 43px;
    }

    #loginmain form button {
        margin-top: 6px;
        width: 150px;
        height: 43px;
    }

    #loginmain #or {
        margin-block: 18px;
    }

    #loginmain #end {
        margin-top: -10px;
        font-size: 15px;
    }

    #loginmain #end a {
        font-size: 16px;
    }
}

@media only screen and (max-width:330px) {
    #loginmain form input {
        width: 250px;
        height: 41px;
    }

    #loginmain form button {
        margin-top: 3px;
        width: 120px;
        height: 41px;
    }

    #loginmain #or {
        margin-block: 18px;
    }

    #loginmain #end {
        font-size: 13px;
    }

    #loginmain #end a {
        font-size: 14px;
    }
}